
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-1">
            <img src="{{this.author.gravatar}}" alt="" class="tiny-gravatar">
        </div>
        <div class="col-8 g-0">
            <div class="list-group grey-comment-box">
                <div class="d-flex w-100 justify-content-between">
                    <a href="/profile/{{this.author._id}}" class="comment-name"><p class="mb-1 comment-name">{{this.author.username}}</p></a>
                    {{#if this.isLoggedUser}}
                        <form action="/delete/{{../post._id}}/{{this._id}}" method="post">
                            <button type="submit" class="btn x-btn">x</button>
                        </form>
                    {{/if}}
                </div>
                <p class="mb-1">{{this.content}}</p>
            </div>
        </div>
    </div>
</div>