
<div class="card newsfeed-card mt-4" onclick="location.href='/{{this._id}}';">
    <div class="card-body">
        <img src="{{this.author.gravatar}}" alt="" class="tiny-gravatar"><a href="/profile/{{this.author._id}}">{{this.author.username}}</a></p>
        <div class="card-text">
            <p>{{this.content}}</p>
            <div class="button-container">
                <div class="row">
                    <div class="col-1">
                        <p class="likes-no">{{this.likes.length}}</p>
                    </div>
                    <div class="col-1 g-0">
                        <form action="/newsfeed/{{this._id}}" method="post">
                            {{#if this.likes}}
                            <button class="unlike-btn" type="submit">
                                <img class="heart-img" src="/images/like.png" alt="">
                            </button>
                            {{/if}}
                            {{#unless this.likes}}
                            <button class="unlike-btn" type="submit">
                                <img class="heart-img" src="/images/tiny-empty-heart.png" alt="">
                            </button>
                            {{/unless}}
                        </form>
                        </div>
                    <div class="col-1">
                        <p class="comments-no">{{this.comments.length}}</p>
                    </div>
                    <div class="col-1 g-0">
                        <button class="unlike-btn" type="submit">
                            <img class="comment-img" src="/images/notification.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>