<div class="card newsfeed-card mt-4" onclick="location.href='/view-post/{{this.postArray.postSchema._id}}';">
    <div class="card-body">
        <img src="{{this.postArray.postSchema.author.gravatar}}" alt="" class="tiny-gravatar"><a href="/profile/{{this.postArray.postSchema.author._id}}">{{this.postArray.postSchema.author.username}}</a></p>
        <div class="card-text">
            <p>{{this.postArray.postSchema.content}}</p>
            <div class="button-container">
                <div class="row">
                    <div class="col-1">
                        <p class="likes-no">{{this.postArray.postSchema.likes.length}}</p>
                    </div>
                    <div class="col-1 g-0">
                        <button data-post-id="{{this.postArray.postSchema._id}}" class="likeButton unlike-btn">
                            {{#ifLiked this.postArray.loggedUserLiked}}
                                <img class="heart-img" src="/images/like.png" alt="">
                            {{else}}
                                <img class="heart-img" src="/images/tiny-empty-heart.png" alt="">
                            {{/ifLiked}}
                        </button>
                    </div>
                    <div class="col-1">
                        <p class="comments-no">{{this.postArray.postSchema.comments.length}}</p>
                    </div>
                    <div class="col-1 g-0">
                        <button class="unlike-btn" type="submit">
                            <img class="comment-img" src="/images/notification.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{#ifCond this.postArray.postSchema._id this.userLogged._id}}
        <a href="/update/{{this.postArray.postSchema._id}}" class="btn btn-info">Update</a>
            <form action="/delete/{{this.postArray.postSchema._id}}" method='post' class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        {{/ifCond}}
    </div>
</div>