
<div class="card mt-4" onclick="location.href='/{{this._id}}';" hover>
    <div class="card-body">
        <h3 class="card-title">{{this.title}}</h3>
        <a href="/profile/{{this.author._id}}">{{this.author.username}}</a>
        <div class="card-text mb-2">
        <p>{{this.content}}</p>
        <p>{{this.likes}} likes, {{this.comments.length}} <a href="/">comments</a></p>
        </div>
    </div>
</div>