
<div class="card mt-4" onclick="location.href='/{{this._id}}';">
    <div class="card-body">
        <h3 class="card-title">{{this.title}}</h3>
        <div class="card-text mb-2">
            <p>By <a href="/profile/{{this.author._id}}">{{this.author.username}}</a></p>
            <p>{{this.content}}</p>
            <p>{{this.likes.length}} likes, {{this.comments.length}} comments</p>
        </div>
    </div>
</div>