
<div class="card newsfeed-card mt-4">
    <div class="card-body">
        <img src="{{this.author.gravatar}}" alt="" class="tiny-gravatar"><a href="/profile/{{this.author._id}}">{{this.author.username}}</a></p>
        <div class="card-text">
            <p>{{this.content}}</p>
            <div class="button-container">
                <div class="row">
                    <div class="col-1">
                        <p class="likes-no">{{this.likes.length}}</p>
                    </div>
                    <div class="col-1 g-0">
                        <form action="/newsfeed/{{this._id}}" method="post" data-post-id="{{this._id}}">
                            {{#if this.likes}}
                            <button class="unlike-btn" type="submit">
                                <img class="heart-img" src="/images/like.png" alt="">
                            </button>
                            {{/if}}
                            {{#unless this.likes}}
                            <button class="unlike-btn" type="submit">
                                <img class="heart-img" src="/images/tiny-empty-heart.png" alt="">
                            </button>
                            {{/unless}}
                        </form>
                        <script>
                            const likeForm = document.forms[0];
                            const heartImage = document.querySelector('.heart-img');
                            likeForm.addEventListener('submit', async (event) => {
                                event.preventDefault();
                                const response = await fetch(`/newsfeed/${likeForm.dataset.postId}`, {
                                    method: 'POST'
                                });
                                const post = await response.json();
                                if (post.likes.length === 0) {
                                    heartImage.src = 'http://localhost:3000/images/tiny-empty-heart.png';
                                } else {
                                    heartImage.src = 'http://localhost:3000/images/like.png';
                                }
                            });
                        </script>
                        </div>
                    <div class="col-1">
                        <p class="comments-no">{{this.comments.length}}</p>
                    </div>
                    <div class="col-1 g-0">
                        <button class="unlike-btn" type="submit">
                            <img class="comment-img" src="/images/notification.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
