
<div class="container">
    <h1>{{profile.username}}</h1>
    <form action="/profile/{{profile._id}}/add-friend" method="post">
        <button class="btn btn-primary" type="submit">Add Friend</button>
    </form>
    {{#each posts}}
    <div class="card mt-4" onclick="location.href='/{{this._id}}';">
        <div class="card-body">
            <h3 class="card-title">{{this.title}}</h3>
            <div class="card-text mb-2">
            <p>{{this.content}}</p>
            <p>{{this.likes.length}} likes, {{this.comments.length}} comments</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
