
<div class="container">
    {{#if userLogged}}
    <h1>Welcome, {{userLogged.username}}!</h1>
    <br />
    <div class="button-container">
    <div class="row">
    <div class="col-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
    Friend List
    </button>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Friends list</h5>
        </div>
        <div class="modal-body">
            {{#each userLogged.friends}}
            <a href="/profile/{{this._id}}">{{this.username}}</a>
            {{/each}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>
    </div>
    <div class="col-6">
        <a href="/{{userLogged._id}}/add-post" class="btn btn-success">Add Post</a>
    </div>
    </div>
     </div>
    {{#each posts}}
    <div class="card newsfeed-card mt-4" onclick="location.href='/{{this._id}}';">
        <div class="card-body">
            <h3 class="card-title">{{this.title}}</h3>
            <div class="card-text mb-2">
            <p>{{this.content}}</p>
            <div class="button-container">
                    <div class="row">
                        <div class="col-1">
                            <p class="likes-no">{{this.likes.length}}</p>
                        </div>
                        <div class="col-1 g-0">
                            <form action="/newsfeed/{{this._id}}" method="post">
                                {{#if this.likes}}
                                <button class="unlike-btn" type="submit">
                                    <img class="heart-img" src="/images/like.png" alt="">
                                </button>
                                {{/if}}
                                {{#unless this.likes}}
                                <button class="unlike-btn" type="submit">
                                    <img class="heart-img" src="/images/tiny-empty-heart.png" alt="">
                                </button>
                                {{/unless}}
                            </form>
                            </div>
                        <div class="col-1">
                            <p class="comments-no">{{this.comments.length}}</p>
                        </div>
                        <div class="col-1 g-0">
                            <button class="unlike-btn" type="submit">
                                <img class="comment-img" src="/images/notification.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/update/{{this._id}}" class="btn btn-info">Update</a>
            <form action="/delete/{{this._id}}" method='post' class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    {{/each}}
    {{else }}
    <p>Sorry, you must be logged in to view your profile!</p>
    {{/if}}
</div>




