
<div class="container">
    {{#if userLogged}}
    <h1>Welcome, {{userLogged.username}}!</h1>
    <div>
        <a href="/{{userLogged._id}}/add-post" class="btn btn-success">Add Post</a>
    </div>
    {{#each userLogged.posts}}
    <div class="card mt-4" onclick="location.href='/{{this._id}}';">
        <div class="card-body">
            <h3 class="card-title">{{this.title}}</h3>
            <div class="card-text mb-2">
            <p>{{this.content}}</p>
            <p>{{this.likes}} likes, {{this.comments.length}} comments</p>
            </div>
            <a href="/update/{{this._id}}" class="btn btn-info">Update</a>
            <form action="/delete/{{this._id}}" method='post' class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    {{/each}}
    {{else }}
    <p>Sorry, you must be logged in to view your profile!</p>
    {{/if}}
</div>




