<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">{{post.title}}</h3>
                <p>By <a href="/profile/{{post.author._id}}">{{post.author.username}}</a></p>
            <div class="card-text mb-2">
                <p>{{post.content}}</p>
            </div>
            <p>
                <div class="button-container">
                    <div class="row">
                        <div class="col-1">
                            <p class="likes-no">{{post.likes.length}}</p>
                        </div>
                        <div class="col-2 g-0">
                            <form action="/{{post._id}}/like" method="post">
                                    {{#if status}}
                                    <button class="unlike-btn" type="submit">
                                        <img class="heart-img" src="/images/tiny-heart.png" alt="">
                                    </button>
                                    {{/if}}
                                    {{#unless status}}
                                    <button class="unlike-btn" type="submit">
                                        <img class="heart-img" src="/images/tiny-empty-heart.png" alt="">
                                    </button>
                                    {{/unless}}
                            </form>
                            </div>
                        <div class="col-8 g-0">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Add Comment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </p>
            {{#if liked}}
                <div class="alert alert-primary" role="alert">
                    This is a primary alert—check it out!
                </div>
            {{/if}}
            <div class="collapse" id="collapseExample">
                <form action="/{{post._id}}/comment" method="post" class="form-padding">
                    <div class="form-group">
                        <label for="content" name='content'></label>
                        <textarea name="content" id="content" placeholder="Write a comment" class="form-control"></textarea>
                    </div>
                    <br />
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="list-group">
                {{#each post.comments}}
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{this.author.username}}</h5>
                            <small>{{this.createdAt}}</small>
                        </div>
                        <p class="mb-1">{{this.content}}</p>
                        {{#if ../userLogged}}
                            {{!-- <form action="" method="post">
                                <button type="submit" class="btn btn-link">Edit</button>
                            </form> --}}
                            <form action="/{{../post._id}}/{{this._id}}" method="post">
                                <button type="submit" class="btn btn-link">Delete</button>
                            </form>
                        {{/if}}
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
