<div class="container-md">
    <div class="card mt-4">
        <div class="card-body" style="padding-bottom: 0px">
            <h3 class="card-title">{{post.title}}</h3>
                <img src="{{post.author.gravatar}}" alt="" class="tiny-gravatar"><a href="/profile/{{post.author._id}}">{{post.author.username}}</a></p>
            <div class="card-text mb-2">
                <p>{{post.content}}</p>
            </div>
            <p>
                <div class="button-container">
                    <div class="row">
                        <div class="col-1">
                            <p class="likes-no">{{post.likes.length}}</p>
                        </div>
                        <div class="col-2 g-0">
                            <button data-post-id="{{post._id}}" class="likeButton unlike-btn">
                                {{#if status}}
                                    <img class="heart-img" src="/images/like.png" alt="">
                                {{/if}}
                                {{#unless status}}
                                    <img class="heart-img" src="/images/tiny-empty-heart.png" alt="">
                                {{/unless}}
                            </button>
                        </div>
                        <div class="col-8 g-0">
                        </div>
                    </div>
                </div>
            </div>
            </p>
            <div class="collapse.show" id="collapseExample">
                <form action="/comment/{{post._id}}" method="post" class="form-padding">
                    <div class="form-group comment-box">
                        <label for="content" name='content'></label>
                        <textarea name="content" id="content" placeholder="Write a comment..." class="form-control"></textarea>
                    </div>
                    <br />
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="list-group">
                {{#each post.comments}}
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-1">
                            <img src="{{this.author.gravatar}}" alt="" class="tiny-gravatar">
                        </div>
                        <div class="col-8 g-0">
                            <div class="list-group grey-comment-box">
                                <div class="d-flex w-100 justify-content-between">
                                    <a href="/profile/{{this.author._id}}" class="comment-name"><p class="mb-1 comment-name">{{this.author.username}}</p></a>
                                    {{#if this.isLoggedUser}}
                                        <form action="/delete/{{../post._id}}/{{this._id}}" method="post">
                                            <button type="submit" class="btn x-btn">x</button>
                                        </form>
                                    {{/if}}
                                </div>
                                <p class="mb-1">{{this.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
